[Unit]
Description=container with {{ project_name }}
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ docker_user }}
Group=docker
WorkingDirectory={{ game_dir }}
ExecStart=docker-compose up -d
ExecStop=docker-compose stop
ExecRestart=docker-compose restart

[Install]
WantedBy=multi-user.target