global
{% if haproxy_log != {} %}
  log {{ haproxy_log["address"] }} len {{ haproxy_log["length"] }} {{ haproxy_log["facility"] }} {{ haproxy_log["level"] }}
{% endif %}
{% if haproxy_socket != {} %}
  stats socket {{ haproxy_socket["dir"] }}/{{ haproxy_socket["name"] }} level {{ haproxy_socket["level"] }}
{% endif %}
  maxconn {{ haproxy_maxconn }}
{% if haproxy_dir != "" %}
  chroot {{ haproxy_dir }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon

defaults
  log global
  mode {{ haproxy_mode }}
{% if haproxy_options != [] %}
{% for option in haproxy_options %}
  option {{ option }}
{% endfor %}
{% endif %}
  retries {{ haproxy_retries }}
  timeout connect {{ haproxy_connect_timeout }}
  timeout client {{ haproxy_client_timeout }}
  timeout server {{ haproxy_server_timeout }}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

frontend {{ haproxy_frontend_name }}
  bind {{ haproxy_frontend_bind.address }}:{{ haproxy_frontend_bind.port }}
  default_backend {{ haproxy_backend.name }}

backend {{ haproxy_backend.name }}
  balance {{ haproxy_backend.balance }}
{% for host in groups[haproxy_backend.group] %}
  server {{ host }} {{ hostvars[host].ansible_host }} cookie {{ host }}  check {{ haproxy_backend.check_parameters }}
{% endfor %}